<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator</title>
    <link rel="stylesheet" type="text/css" href="C:\Users\User\Desktop\Projects\Altschool_projects\AltschoolAfrica_Assignment1\Styles\about_me.css"/>
</head>
<body>
    <nav class="navbar-container" id="navbar-container">
        <div>
            <h4>Oluseyi Adeegbe</h4>
        </div>
        <div>
            <ul class="navbar">
               <li><a href="https://AltschoolAfrica-Assignment1.oluperfect1.repl.co">About</a></li>
               <li><a href="#resume">Resume</a></li>
               <li><a href="https://AltschoolAfrica-Assignment1.oluperfect1.repl.co/contact_form.html">Contact</a></li> 
               <li><a href="https://AltschoolAfrica-Assignment1.oluperfect1.repl.co/login_form.html">Login</a></li>
               <li><a href="https://AltschoolAfrica-Assignment1.oluperfect1.repl.co/register_form.html">Register</a></li>
               <li><a href="https://AltschoolAfrica-Assignment1.oluperfect1.repl.co/calculator.html">Calculator</a></li>                 
            </ul>
        </div>
   </nav>
   
   <main>
       <header>Calculator</header>
       <div  id="table">
           <input type="text" name="" id="calc"/>
           <table>
               <tr>
                   <td id='keys'>ON</td>
                   <td id='keys'>CE</td>
                   <td id='key'>OFF</td>
                   <td>%</td>
               </tr>
       
               <tr>
                   <td>7</td>
                   <td>8</td>
                   <td>9</td>
                   <td>+</td>
               </tr>
       
               <tr>
                   <td>4</td>
                   <td>5</td>
                   <td>6</td>
                   <td>-</td>
               </tr>
       
               <tr>
                   <td>1</td>
                   <td>2</td>
                   <td>3</td>
                   <td>/</td>
               </tr>
       
               <tr>
                   <td>0</td>
                   <td id='keys'>=</td>
                   <td>.</td>
                   <td>*</td>
               </tr>
           </table>
        </div>
        <h3>Go to <a href="https://AltschoolAfrica-Assignment1.oluperfect1.repl.co/calculator.html">flexbox calculator</a></h3>
</main>
    
</body>
</html>