<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>calculator</title>
    <link rel="stylesheet" type="text/css" href="C:\Users\User\Desktop\Projects\Altschool_projects\AltschoolAfrica_Assignment1\Styles\about_me.css"/>
</head>
<body>
    <nav class="navbar-container" id="navbar-container">
        <div>
            <h4>Oluseyi Adeegbe</h4>
        </div>
        <div>
            <ul class="navbar">
               <li><a href="https://AltschoolAfrica-Assignment1.oluperfect1.repl.co">About</a></li>
               <li><a href="#resume">Resume</a></li>
               <li><a href="https://AltschoolAfrica-Assignment1.oluperfect1.repl.co/contact_form.html">Contact</a></li> 
               <li><a href="https://AltschoolAfrica-Assignment1.oluperfect1.repl.co/login_form.html">Login</a></li>
               <li><a href="https://AltschoolAfrica-Assignment1.oluperfect1.repl.co/register_form.html">Register</a></li>
               <li><a href="https://AltschoolAfrica-Assignment1.oluperfect1.repl.co/calculator.html">Calculator</a>
            </ul>
        </div>
   </nav> 

   <main>
       <header>Calculator</header>
       <div class="calc-container">
           <div>
               <input type="text" id="calc">
            </div>
            <div class="calculator-container">
                <div>
                    <h5 id="keys">ON</h5>
                </div>

                <div>
                    <h5 id="keys">CE</h5>
                </div>

                <div>
                    <h5 id="key">OFF</h5>
                </div>

                <div>
                    <h5>%</h5>
                </div>

                <div>
                    <h5>7</h5>
                </div>

                <div>
                    <h5>8</h5>
                </div>

                <div>
                    <h5>9</h5>
                </div>

                <div>
                    <h5>+</h5>
                </div>

                <div>
                    <h5>4</h5>
                </div>

                <div>
                    <h5>5</h5>
                </div>

                <div>
                    <h5>6</h5>
                </div>

                <div>
                    <h5>-</h5>
                </div>
            
                <div>
                    <h5>1</h5>
                </div>

                <div>
                    <h5>2</h5>
                </div>

                <div>
                    <h5>3</h5>
                </div>

                <div>
                    <h5>/</h5>
                </div>

                <div>
                    <h5>0</h5>
                </div>

                <div id="keys">
                    <h5>=</h5>
                </div>

                <div>
                    <h5>.</h5>
                </div>

                <div>
                    <h5>*</h5>
                </div>

            </div>
        </div>
       <h3>Go to <a href="https://AltschoolAfrica-Assignment1.oluperfect1.repl.co/calculator2.html">Table calculator</a></h3>

   </main>
 
</body>
</html>














