<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>calculator</title>
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <script src="https://kit.fontawesome.com/67183e4583.js" crossorigin="anonymous">
    </script>
</head>
<body>
    <main>
        <nav class="navbar-container" id="navbar-container">
            <div>
                <h4>Oluseyi Adeegbe</h4>
            </div>
            
            <div class="navbar-div">
                <div><a href="https://AltschoolAfrica-Assignment1.oluperfect1.repl.co">About</a></div>
                <div><a href="#resume">Resume</a></div>
                <div><a href="https://AltschoolAfrica-Assignment1.oluperfect1.repl.co/contact_form.html">Contact</a></div> 
                <div><a href="https://AltschoolAfrica-Assignment1.oluperfect1.repl.co/login_form.html">Login</a></div>
                <div><a href="https://AltschoolAfrica-Assignment1.oluperfect1.repl.co/register_form.html">Register</a></div>
                <div><a href="https://AltschoolAfrica-Assignment1.oluperfect1.repl.co/calculator.html">Calculator</a></div>              
                
            </div>
       </nav> 
  
       <header>Calculator</header>
       <div class="calc-container">
           <div class="calculator-input">
               <input type="text" id="calc">
            </div>
            <div class="calculator-container">
                <div>
                    <h5 id="keys">ON</h5>
                </div>

                <div>
                    <h5 id="keys">CE</h5>
                </div>

                <div>
                    <h5 id="key">OFF</h5>
                </div>

                <div>
                    <h5>%</h5>
                </div>

                <div>
                    <h5>7</h5>
                </div>

                <div>
                    <h5>8</h5>
                </div>

                <div>
                    <h5>9</h5>
                </div>

                <div>
                    <h5>+</h5>
                </div>

                <div>
                    <h5>4</h5>
                </div>

                <div>
                    <h5>5</h5>
                </div>

                <div>
                    <h5>6</h5>
                </div>

                <div>
                    <h5>-</h5>
                </div>
            
                <div>
                    <h5>1</h5>
                </div>

                <div>
                    <h5>2</h5>
                </div>

                <div>
                    <h5>3</h5>
                </div>

                <div>
                    <h5>/</h5>
                </div>

                <div>
                    <h5>0</h5>
                </div>

                <div id="keys">
                    <h5>=</h5>
                </div>

                <div>
                    <h5>.</h5>
                </div>

                <div>
                    <h5>*</h5>
                </div>

            </div>
        </div>
       <h3>Go to <a href="https://AltschoolAfrica-Assignment1.oluperfect1.repl.co/calculator2.html">TableCalculator</a></h3>

       
     
       <footer>
             
        <h4><a href="https://twitter.com/oluseyifunwa" target="_blank"><i class="fa-brands fa-twitter"></i></a></h4>
        <h4><a href="https://github.com/SeyiPerfect1" target="_blank"><i class="fa-brands fa-github"></i></a></h4>
        <h4><a href="https://www.linkedin.com/in/adeegbeoluseyi/" target="_blank"><i class="fa-brands fa-linkedin"></i></a></h4>
    
</footer>

   </main>
 
</body>
</html>














