<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact</title>
    <link rel="stylesheet" type="text/css" href="C:\Users\User\Desktop\Projects\Altschool_projects\AltschoolAfrica_Assignment1\Styles\about_me.css"/>
</head>
<body>

   <nav class="navbar-container" id="navbar-container">
       <div>
           <h4>Oluseyi Adeegbe</h4>
       </div>
       <div>
           <ul class="navbar">
             <li><a href="https://AltschoolAfrica-Assignment1.oluperfect1.repl.co">About</a></li>
              <li><a href="#resume">Resume</a></li>
              <li><a href="https://AltschoolAfrica-Assignment1.oluperfect1.repl.co/contact_form.html">Contact</a></li> 
              <li><a href="https://AltschoolAfrica-Assignment1.oluperfect1.repl.co/login_form.html">Login</a></li>
              <li><a href="https://AltschoolAfrica-Assignment1.oluperfect1.repl.co/register_form.html">Register</a></li>
              <li><a href="https://AltschoolAfrica-Assignment1.oluperfect1.repl.co/calculator.html">Calculator</a></li>              
           </ul>
       </div>
  </nav> 

<main>
   <header>Contact Me</header>
   <form action="" method="POST">
       <div class="contact-form">
           <div>
               <label for="name">Name</label>
               <input type="text" name="name" id="name" placeholder="Enter your name..." required>
           </div>
   
           <div>
               <label for="email">Email</label>
               <input type="email" name="email" id="email" placeholder="Enter your email..." required>
           </div>
   
           <div>
               <label for="message">Message</label>
               <textarea name="message" id="message" cols="31" rows="6"></textarea>
           </div>

           <div>
               <label for="priority">Piority</label>
               <select name="priority" id="priority">
                   <option value="choose">Choose</option>
                   <option value="very important">Very important</option>
                   <option value="not important">Not important</option>
               </select>
           </div>
   
           <div>
               <input type="submit" id="submit">
           </div>
       </div>
   </form>
   
</main>
</body>
</html>



