<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="C:\Users\User\Desktop\Projects\Altschool_projects\AltschoolAfrica_Assignment1\Styles\about_me.css"/>
</head>
<body>

    <nav class="navbar-container" id="navbar-container">
        <div>
            <h4>Oluseyi Adeegbe</h4>
        </div>
        <div>
            <ul class="navbar">
               <li><a href="https://AltschoolAfrica-Assignment1.oluperfect1.repl.co">About</a></li>
               <li><a href="#resume">Resume</a></li>
               <li><a href="https://AltschoolAfrica-Assignment1.oluperfect1.repl.co/contact_form.html">Contact</a></li> 
               <li><a href="https://AltschoolAfrica-Assignment1.oluperfect1.repl.co/login_form.html">Login</a></li>
               <li><a href="https://AltschoolAfrica-Assignment1.oluperfect1.repl.co/register_form.html">Register</a></li>
               <li><a href="https://AltschoolAfrica-Assignment1.oluperfect1.repl.co/calculator.html">Calculator</a></li>                  
            </ul>
        </div>
   </nav> 

   <main>
    <div>
        <header>Login</header>

        <form action="" method="POST">
            <div class="login-form">
                <div>
                    <label for="username-email">Username/Email</label>
                    <input type="text" id="username-email" name="username-email" required/>
                </div>
    
                <div>
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" required/>
                </div>
    
                <div>
                    <input type="submit" id="submit">
                </div>
            </div>
        </form>

        <h3>Haven't registered yet? <a href="https://AltschoolAfrica-Assignment1.oluperfect1.repl.co/register_form.html">Sign up</a></h3>

    </div>
    </main>
</body>
</html>