<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <script src="https://kit.fontawesome.com/67183e4583.js" crossorigin="anonymous">
    </script>
</head>
<body>
    <main>
        <nav class="navbar-container" id="navbar-container">
            <div>
                <h4>Oluseyi Adeegbe</h4>
            </div>
            
            <div class="navbar-div">
                <div><a href="https://AltschoolAfrica-Assignment1.oluperfect1.repl.co">About</a></div>
                <div><a href="#resume">Resume</a></div>
                <div><a href="https://AltschoolAfrica-Assignment1.oluperfect1.repl.co/contact_form.html">Contact</a></div> 
                <div><a href="https://AltschoolAfrica-Assignment1.oluperfect1.repl.co/login_form.html">Login</a></div>
                <div><a href="https://AltschoolAfrica-Assignment1.oluperfect1.repl.co/register_form.html">Register</a></div>
                <div><a href="https://AltschoolAfrica-Assignment1.oluperfect1.repl.co/calculator.html">Calculator</a></div>              
                
            </div>
       </nav> 


    <header>Register</header>
    <form action="" method="POST">
        <div class="register-form">
            <div>
            <label for="firstname">First Name</label>
            <input type="text" id="firstname" name="firstname" required/>
            </div>
    
            <div>
                <label for="lastname">Last Name</label>
                <input type="text" id="lastname" name="lastname" required/>
            </div>
    
            <div>
                <label for="phone-number">Phone</label>
                <input type="tel" id="phone-number" name="phone-number" required/>
            </div>
    
            <div>
                <label for="gender">Gender</label>
                <select name="gender" id="gender" required>
                    <option value="">--please choose an option--</option>
                    <option value="male">male</option>
                    <option value="female">female</option>
                    <option value="others">others</option>
                </select>
            </div>
    
            <div>
                <label for="contry">Country</label>
                <input type="text" name="country" id="country" required/>
            </div>
    
            <div>
                <label for="state">State/Province</label>
                <input type="text" name="state" id="state"/>
            </div>
    
            <div>
                <label for="username">Username</label>
                <input type="text" name="username" id="username" required/>
            </div>
    
            <div>
                <label for="password">Password</label>
                <input type="password" name="password" id="password" required/>
            </div>
    
            <div>
                <label for="confirm-password">Confirm Password</label>
                <input type="password" name="confirm-password" id="confirm-password" required/>
            </div>
    
            <div>
                <input type="submit" id="submit">
        </div>

        </div>
        <h3>Have an account? <a href="https://AltschoolAfrica-Assignment1.oluperfect1.repl.co/login_form.html">Login</a></h3>
    </form>

   

    
     
    <footer>
             
        <h4><a href="https://twitter.com/oluseyifunwa" target="_blank"><i class="fa-brands fa-twitter"></i></a></h4>
        <h4><a href="https://github.com/SeyiPerfect1" target="_blank"><i class="fa-brands fa-github"></i></a></h4>
        <h4><a href="https://www.linkedin.com/in/adeegbeoluseyi/" target="_blank"><i class="fa-brands fa-linkedin"></i></a></h4>
    
</footer>
</main>
</body>
</html>